@media (max-width: 768px) {
    .position-relative-sm-down {
        position: relative !important;
    }
}

.max-height-description {
    max-height: 300px;
}

.video-item-btn {
    cursor: pointer;
    transition: all 0.2s;
    border-color: transparent;
    outline: none;

    .text-muted {
        transition: all 0.2s;
    }

    &:hover:not(.active),
    &:focus-visible:not(.active) {
        --bs-bg-opacity: 0.2;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: var(--bs-success) !important;
    }

    &.active {
        --bs-bg-opacity: 0.8;
        color: white !important;

        .text-muted {
            color: white !important;
        }
    }
}


.hover-btn svg {
    cursor: pointer;

    &:hover {
        fill: red;
    }
}